.interface {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 10px;
  /* width: calc((100vw /2) - 10px); */
  width: calc(100vw - 10px);
  height: calc((100vh - 6% - 8px) - 5%);
}
.interface h1 {
  text-align: center;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid antiquewhite;
}
