* {
  font-family: 'Courier New';
  box-sizing: border-box;
}
.scroll-pane{
  overflow-y: scroll!important;
}
*:hover, *:active, *:focus {outline: none; }
body {
  background: #1A1B1F;
  width: 100vw;
  height: 100vh;
}
.interface, .display { background: #3B3F4C; }
footer {
  background: pink;
	position: sticky;
	top: 90%;
  left: 0;
	height: 9.5%;
	width: 99vw;
	background: #333641;
	border-top: 2px solid antiquewhite;
  z-index: 500;
}
footer > .login-msg {
  float: right;
  font-weight: bold;
}
footer > .menu {
  position: absolute;
  left: 15%;
  bottom: 7px;
}

a{color:#AAAEAD;text-decoration:underline;}
a:hover { font-weight: bold; cursor: pointer;}

button {
  background: #1A1B1F;
  color: #AAAEAD;
}
button:hover, button[active] {
  background: #AAAEAD;
  color: #1A1B1F;
  cursor: pointer;
  font-weight: bold;
}
button[active] {font-style: italic; cursor: default; }
button[YES], button[NO]{width: 50%;}
button[YES]{color:black;background:forestgreen;}
button[YES]:hover{background:lightgreen;}
button[NO]{color:white;background:crimson;}
button[NO]:hover{background:tomato;}

*[RAW]{
  padding: 0;
  margin: 0;
}

input {
  color: antiquewhite;
  background: #1A1B1F;
  border: 2px solid antiquewhite;
  font-weight: lighter;
  letter-spacing: 2px;
  height: 30px;
  padding-left: 5px;
}
input:focus{outline:none;}
input.error, input[error] {
  border: 2px solid tomato;
  color: tomato;
}
input.error::placeholder, input[error]::placeholder { color: tomato; opacity: 0.5; }
